<div class="viewPort">
  <form class="auth-form" id="form" action="/auth/signup" method="POST">
    <h2 class="auth-title">Travel Note</h2>
    <img class="auth-logo" src="/images/logo2.png" alt="logo">
    <input type="text" name="username" placeholder="User Name">
    <input type="password" name="password" placeholder="Password">
    <% if(errorMessage){ %>
      <p class="auth-error"><%= errorMessage %></p>
    <% } %>
    <button>Create account</button>
    <p class="account-message">
      Do you have an account? <a href="/auth/login">Login</a>
    </p>
  </form>
</div>