<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/layout.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
  <header>
    <% if(currentUser) { %>
      <nav role="navigation" class="nav-bar">
    <% } else { %>
      <nav role="navigation" class="nav-bar none">
    <% }%>
        <div id="menuToggle">
          <div>
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              <a href="/home"><li>Home</li></a>
              <a href="/trip/my-trips"><li>My trip</li></a>
              <a href="/profile"><li>Profile</li></a>
            </ul>
          </div>
        </div>
        <div class="APP-name">
          <h2>TRAVEL NOTE</h2>
        </div>
      </nav>
  </header>
  <main>
    <%- body %>
  </main>

  </body>
</html>
