<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/layout.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
  <header>
    <nav role="navigation" class="nav-bar">
    <div id="menuToggle">
      <div>
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/"><li>Home</li></a>
          <a href="/trip/my-trips"><li>My trip</li></a>
          <a href="/profile"><li>Profile</li></a>
        </ul>
      </div>
      <div class="auth">
        <div class="login">
          <p><a href="/auth/login">Login</a></p>
        </div>
        <div class="signup">
          <p><a href="/auth/signup">Signup</a></p>
        </div>
      </div>
    </div>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>

  </body>
</html>
