<form action="/trip" method="POST" name="tripForm">
  <div class="dates">
    <div class="dates-from">
      <label for="departureDate">From</label></br>
      <input type="date" min=<%= currentDate %> required pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" name="departureDate" required>
    </div>
    <div class="dates-to">
      <label for="returnDate">To</label></br>
      <input type="date" name="returnDate" min=<%= currentDate %> required>
    </div>
  </div>
  <div class="departure-city-imput">
    <label for="departure-city">From</label>
    <select name="departureCity">
      <option selected value="0">Choose a city</option>
      <option  value="BCN">Barcelona</option>
      <option  value="CDG">Paris</option>
      <option  value="HND">Tokyo</option>
      <option  value="MAD">Madrid</option>
      <option  value="TXL">Berlin</option>
    </select>
  </div>
  <div class="budget-imput">
    <label for="budget">Budget</label>
    <input type="number" name="budget" min="200" required>
  </div>
  <div class="logo">
    <button class="trip-btn" type="submit">search trip</button>
  </div>
  <div class="text-homepage">
    <p>Press the logo and get ready for the adventure</p>
  </div>
</form>
<script src="/javascripts/loadingScreen.js"></script>
