<div class="dates">
  <div class="dates-from">
    <p>From  <input type="date"></p>
  </div>
  <div class="dates-to">
    <p>To   <input type="date"></p>
  </div>
</div>
<div class="logo">
  <a href="/trip"><img src="/images/logo.png" alt="logo"></a>
</div>
