<form action="/api" method="POST">
  <div class="dates">
    <div class="dates-from">
      <label for="date_from">From</label>
      <input type="date" name="date_from">
    </div>
    <div class="dates-to">
      <label for="dat-to"></label>
      <input type="date" name="date_to">
    </div>
  </div>
  <div class="logo">
    <button class="trip-btn" type="submit">search trip</button>
  </div>
</form>