<form action="/trip" method="POST">
  <div class="dates">
    <div class="dates-from">
      <label for="date_from">From</label></br>
      <input type="date" min="2019-02-15" required pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" name="date_from" required>
    </div>
    <div class="dates-to">
      <label for="dat-to">To</label></br>
      <input type="date" name="date_to" required>
    </div>
  </div>
  <div>
    <label for="budget">Budget</label>
    <input type="number" name="budget" min="200" required>
  </div>
  <div class="logo">
    <button class="trip-btn" type="submit">search trip</button>
  </div>
</form>