<form class="profile-container" id="form" action="/profile" method="POST">
  <h2>Profile</h2>
  <input type="text" name="username" value="<%= username%>" placeholder="User Name">
  <input type="password" name="password" placeholder="********">
  <button>Update</button>
</form>
<form  class="logout" action="/auth/logout" method="GET">
  <button class="logout-btn">Logout</button>
</form>
