<div class="splash-container">
  <div class="logo">
    <div>
      <img src="/images/logo2.png" alt="logo">
    </div>
  </div>
  <div class="get-started">
    <a href="/auth/login"><p>Get Started!</p></a>
  </div>
</div>