<h2>random city</h2>

<p><%= city.name%></p>

<p><a href="/trip">New trip</a></p>
<form action="/trip" method="post">
<input type="hidden" name="city" value="<%= city.name%>">
<button type="submit">Save</button>
</form>





