/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

 .nav-bar
 {
   position: sticky;
   margin: 0;
   padding: 0;
   color: #cdcdcd;
   font-family: "Avenir Next", "Avenir", sans-serif;
   border-bottom: 1px solid grey;
    box-shadow: 0 4px 6px -6px #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.nav-bar-logo img{
  height: 45px;
  padding-right: 10px;
 }

 a
 {
   text-decoration: none;
   transition: color 0.3s ease;
 }

 a:hover
 {
   color: tomato;
 }

 #menuToggle
 {
  display: block;
  position: sticky;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

   z-index: 1;

   -webkit-user-select: none;
   user-select: none;

 }

 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;

   cursor: pointer;

   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */

   -webkit-touch-callout: none;
 }

 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;

   background: #cdcdcd;
   border-radius: 3px;

   z-index: 1;

   transform-origin: 4px 0px;

   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }

 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }

 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }

 /*
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }

 .trip-btn input:checked ~ span{
   

 }

 .loading{
   
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }


 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }

 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   left: -350px;
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;

   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */

   transform-origin: 0% 0%;
   transform: translate(-100%, 0);

   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #menu li
 {
   padding: 10px 0 10px 45px;
   font-size: 22px;
 }

 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
   left: 0;

 }

 .APP-name{
  color: #47a7cf;
  text-decoration: none;
 }



.auth {
  display: flex;
}

.auth p {
  margin: 0;
}

.login {
  padding: 0 10px;
}

