.auth-container {
  padding: 1rem;
}

.auth-container h2{
  font-size: 2rem
}

.auth-container input {
  font-size: 1.5rem;
  width: 100%;
  border: dashed 1.5px gray;
  border-radius: 0.5rem;
}

.auth-container label {
  font-size: 1.5rem;
}

.card {
  margin: 20px auto;
}

.auth-btn {
  float: right;
}

.auth-btn button {
  font-size: 1.5rem;
}

.account-message {
  font-size: 1.15rem;
}

.clearfix {
  clear: both;
}

.trip-list {
  list-style: none;
}

.logout{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-top: 8VH;
}

.logout-btn
 {
   text-decoration: none;
   color: #232323;

   display: flex;
   transition: color 0.3s ease;
   border: none;
   padding: 0;
   font-size: 1.5rem;
   background: none;
   padding: 1rem;
 }

 .logout-btn:hover
 {
   color: tomato;
 }

 .get-started p {
  text-align: center;
  font-size: 2rem;
  color:white;
 }
 
 .splash-container {
   background-color: #47a7cf;
   height: 100vh;
 }

 .none {
   display: none;
 }

 .empty-container {
   margin: 29.5px;
 }

 
 .dates-from {
  border-right: 1px solid grey;
  width: 50%
 }
 .dates-to {
  width: 50%
 }
 
 .dates{
  display: flex;
  justify-content: center;
  border: 1px solid grey;
 }

 .trip-btn{
  background: transparent url("../images/logo.png") no-repeat center center;
  background-size: contain;
  padding: 75px;
  border: none;
  color: transparent;
 }