* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

.none {
  display: none;
}

.loading {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

button:focus {
  outline: none;
}

/*===============
   Splash Screen
  ===============*/
.splash-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #47a7cf;
  height: 100vh;
}

.splash-container .splash-logo {
  width: 40vw;
  max-width: 300px;
}

.splash-container .splash-logo img {
  width: 100%;
}

.splash-container .get-started {
  text-align: center;
  font-size: 2rem;
  margin-top: 4rem;
}

.splash-container .get-started a {
  color: #47a7cf;
  background-color: white;
  -webkit-box-shadow: 0px 8px 14px #333232;
          box-shadow: 0px 8px 14px #333232;
  border-radius: 2rem;
  padding: 0.5rem;
}

/*========
   Navbar
  ========*/
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 65px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 50;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  border-bottom: 1px solid grey;
  -webkit-box-shadow: 0 4px 6px -6px #222;
          box-shadow: 0 4px 6px -6px #222;
  padding: 1rem;
}

.nav-bar img {
  height: 45px;
}

.nav-bar .nav-title {
  color: #47a7cf;
  text-decoration: none;
}

#menuToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  /*
   * Just a quick hamburger
   */
  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  /*
   * But let's hide the middle one.
   */
  /*
   * Ohyeah and the last one should go the other direction
   */
  /*
   * And let's slide it in from the left
   */
}

#menuToggle input {
  width: 40px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 7px;
  display: block;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  width: 33px;
  height: 4px;
  display: block;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  left: 0;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  left: -350px;
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0 10px 45px;
  font-size: 22px;
}

/*=============
   Auth Screen
  =============*/
.viewPort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #47a7cf;
  padding: 1rem;
}

.viewPort .auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #47a7cf;
  color: white;
  border: 6px solid white;
  text-align: center;
  -webkit-box-shadow: 0 0 100px darkslategrey;
          box-shadow: 0 0 100px darkslategrey;
  max-width: 700px;
  padding: 1rem;
  border-radius: 2rem;
}

.viewPort .auth-title {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.viewPort .auth-logo {
  width: 30%;
  margin-bottom: 1rem;
}

.viewPort input {
  font-size: 1.5rem;
  width: 80%;
  border: dashed 1.5px gray;
  border-radius: 0.5rem;
  text-align: center;
  color: grey;
  margin: .75rem auto;
  outline: none;
}

.viewPort input::-webkit-input-placeholder {
  color: #c8c8c8;
}

.viewPort input:-ms-input-placeholder {
  color: #c8c8c8;
}

.viewPort input::-ms-input-placeholder {
  color: #c8c8c8;
}

.viewPort input::placeholder {
  color: #c8c8c8;
}

.viewPort button {
  color: #47a7cf;
  background-color: white;
  border: 1px solid white;
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 3px 10px;
  margin: 1rem 0;
  -webkit-box-shadow: 0px 8px 14px darkslategrey;
          box-shadow: 0px 8px 14px darkslategrey;
  cursor: pointer;
}

.viewPort button:hover {
  color: tomato;
}

.viewPort .auth-error {
  font-size: 1rem;
  padding: 0.5rem;
}

.viewPort .account-message {
  font-size: 1.15rem;
}

.viewPort .account-message a {
  color: darkslategrey;
}

/*================
   Profile Screen
  ================*/
.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.profile-container h2 {
  margin: 1.5rem 0;
}

.profile-container input {
  font-size: 1.5rem;
  width: 80%;
  max-width: 500px;
  border: dashed 1.5px gray;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-align: center;
}

.profile-container button {
  font-size: 1.5rem;
  color: black;
  border: 1px solid grey;
  border-radius: 2rem;
  background-color: transparent;
  margin-top: 0.5rem;
  padding: 3px 10px;
}

.logout {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logout .logout-btn {
  text-decoration: none;
  color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  border: none;
  padding: 0;
  font-size: 1.5rem;
  background: none;
  padding: 1rem;
}

.logout .logout-btn:hover {
  color: tomato;
}

/*=============
   Home Screen
  =============*/
.home-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 65px);
  padding: 2rem 1rem;
}

.home-screen form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-screen .form-inputs {
  max-width: 500px;
  width: 100%;
}

.home-screen .date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-screen .date-container .date-input-container {
  width: 100%;
}

.home-screen .date-container .date-input-container input {
  width: 100%;
  height: 2rem;
  border: 2px solid #47a7cf;
  background-color: transparent;
  border-radius: 1rem;
  text-align: end;
  font-size: 1rem;
  cursor: pointer;
}

.home-screen .date-container .date-input-container input[type=date]:invalid::-webkit-datetime-edit {
  color: #c8c8c8;
}

.home-screen .date-container .date-input-container label {
  font-size: 1.2rem;
}

.home-screen .date-container .date-input-container:last-child {
  margin-left: 2rem;
}

.home-screen .departure-city-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.home-screen .departure-city-input select {
  width: 70%;
  height: 2rem;
  font-size: 1.2rem;
  border: 2px solid #47a7cf;
  border-radius: 1rem;
  text-align: center;
  text-align-last: center;
  margin-left: 0.5rem;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.home-screen .departure-city-input select:required:invalid {
  color: #c8c8c8;
}

.home-screen .budget-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.home-screen .budget-input input {
  width: 67%;
  height: 2rem;
  border: 2px solid #47a7cf;
  border-radius: 1rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.home-screen .budget-input input::-webkit-input-placeholder {
  color: #c8c8c8;
}

.home-screen .budget-input input:-ms-input-placeholder {
  color: #c8c8c8;
}

.home-screen .budget-input input::-ms-input-placeholder {
  color: #c8c8c8;
}

.home-screen .budget-input input::placeholder {
  color: #c8c8c8;
}

.home-screen .search-logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-screen .search-logo .trip-btn {
  width: 150px;
  height: 150px;
  background: transparent url("../images/logo.png") no-repeat center center;
  background-size: contain;
  border: none;
  color: transparent;
  cursor: pointer;
}

.text-homepage {
  font-size: 1.5rem;
  padding: 0rem 2rem;
  text-align: center;
  color: #47a7cf;
}

.error-message {
  padding: 1rem;
}

.search-error {
  font-size: 1.3rem;
  text-align: center;
}

/*================
   My Trip Screen
  ================*/
.my-trips-title {
  text-align: center;
  margin: 1rem 0;
}

.trip-list {
  list-style: none;
  padding: 0;
}

.trip-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.3rem 1.5rem;
  border-bottom: 1px solid darkgray;
}

.trip-list .city-name {
  width: 100%;
}

.trip-list .trip-date-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trip-list .trip-dates {
  width: 25vw;
}

.trip-list .trip-price {
  width: 12vw;
}

.home-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  height: 100%;
}

.home-btn a > img {
  height: 45px;
}

/*====================
   Trip detail Screen
  ====================*/
.trip-detail-title {
  text-align: center;
  margin: 1rem 0;
}

.my-trip-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.my-trip-title .city-name {
  color: #47a7cf;
  padding: 1rem;
  margin: 0;
  font-size: 2rem;
}

.info-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.trip-info-container {
  border: 1px solid darkgray;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.trip-info-container .duration-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  padding-bottom: 0.5rem;
}

.trip-info-container .duration-info {
  margin-left: 1rem;
}

.trip-info-container .flight-card {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.trip-info-container .flight-card .flight-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trip-info-container .flight-card .flight-hour {
  margin-right: 1rem;
}

.details-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.details-btn img {
  height: 45px;
  background-color: transparent;
}

.details-btn button {
  background: none;
  border: none;
  cursor: pointer;
}

.flight-image {
  background: url("../images/flight.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}

.accommodation-image {
  background: url("../images/hotel.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}

.activity-image {
  background: url("../images/activity.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}

.tripView-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.tripView-btn img {
  height: 35px;
}

.tripView-btn-text {
  color: white;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
}

.tab-title {
  color: #47a7cf;
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  text-shadow: 3px 2px 3px #312e2e;
  text-align: center;
  width: 100%;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  /* :checked */
  /* Icon */
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0;
  cursor: pointer;
  height: 27vh;
}

.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.bkRGBA {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  transition: max-height .35s;
}

.tab-content p {
  margin: 1em;
}

.title-card {
  position: relative;
  height: 100%;
  margin: 0px 1rem;
}

.title-card p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.refresh-btn {
  background: none;
  border: none;
}

/*
.rotate {
  background: transparent url("../images/logo.png") no-repeat center center;
  background-size: contain;
  padding: 75px;
  border: none;
  color: transparent;
  animation-name: rotate;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} */
.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */