
.auth-container {
  padding: 6px;
  box-shadow: 0 0 100px darkslategrey;
  background-color: white;
  border-radius: 2rem;
  color: white;
  text-align: center;
}

.auth-error {
  font-size: 1rem;
}

.box-border {
  border: 1px solid white;
  border-radius: 1.6rem;
  background-color: rgba(71, 167, 207, 1);
  border: 1px solid white;
}

.auth-container-profile {
  padding: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 7vh;
}

.logo img {
  width: 40vw;
}

.logo-img {
  width: 30%;
}

.text-homepage {
  font-size: 1.5rem;
  padding: 0rem 2rem;
  text-align: center;
  color: #47a7cf;
}

.viewPort {
  background-color: rgba(71, 167, 207, 0.85);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.auth-container h2 {
  font-size: 2rem
}

.auth-container input {
  font-size: 1.5rem;
  width: 80%;
  border: dashed 1.5px gray;
  border-radius: 0.5rem;
}

.auth-container-profile input {
  font-size: 1.5rem;
  width: 80%;
  border: dashed 1.5px gray;
  border-radius: 0.5rem;
}

.auth-container label {
  font-size: 1.5rem;
}

.card {
  margin: 20px auto;
}

.card input {
  text-align: center;
  color: grey;
}

.auth-btn button {
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
  background-color: transparent;
  padding: 0 4%;
  background-color: white;
  color: #47a7cf;
  box-shadow: 0px 8px 14px #333232;
}

.auth-btn-profile button {
  font-size: 1.5rem;
  color: black;
  border: 1px solid grey;
  border-radius: 2rem;
  background-color: transparent;
  padding: 0 30%;
}

.auth-btn-signup button {
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
  background-color: transparent;
  padding: 0 17%;
  padding: 0 4%;
  background-color: white;
  color: #47a7cf;
  box-shadow: 0px 8px 14px #333232;
}

.error-message {
  padding: 1rem;
}

.home-btn {
  height: 100%;
  display: flex;
  justify-content: center;
}

.home-btn a>img{
height: 45px;
/* position: absolute;
left: 45%; */
}

.account-message {
  font-size: 1.15rem;
}

.account-message a {
  color: darkslategrey
}

.clearfix {
  clear: both;
}

.trip-list {
  list-style: none;
  padding: 0;
}

.logout {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-top: 8VH;
}

.logout-btn {
   text-decoration: none;
   color: #232323;
   display: flex;
   transition: color 0.3s ease;
   border: none;
   padding: 0;
   font-size: 1.5rem;
   background: none;
   padding: 1rem;
 }

.logout-btn:hover {
  color: tomato;
}

.get-started {
  text-align: center;
  font-size: 2rem;
  color:white;
  padding: 1rem;
  margin-top: 4rem;
}

.get-started a {
  color:white;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: white;
  color: #47a7cf;
  box-shadow: 0px 8px 14px #333232;
}

.splash-container {
  background-color: #47a7cf;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.none {
  display: none;
}

.empty-container {
  margin: 29.5px;
}

.date-input-container input {
  border: 2px solid #47a7cf;
  background-color: transparent;
  border-radius: 1rem;
  text-align: end;
  font-size: 1rem;
  height: 2rem;
  width: 10rem;
 }

 .date-input-container label {
  font-size: 1.2rem;
 }

.date-container {
  display: flex;
  justify-content: space-around;
  /* margin-top: 2rem; */
}

.budget-input {
  /* padding: 3rem 0 0 5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem; */
  height: 5vh;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.departure-city-input {
  height: 5vh;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.departure-city-input select {
  font-size: 1.2rem;
  border: 2px solid #47a7cf;
  border-radius: 1rem;
  text-align: center;
  text-align-last: center;
  width: 50vw;
  margin-left: 0.5rem;
  background-color: transparent;
  height: 2rem;
}

.search-error {
  font-size: 1.3rem;
  text-align: center;
}

.home-screen {
  height: 91vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button:focus {
  outline:none;
}

.budget-input input {
  border: 2px solid #47a7cf;
  border-radius: 1rem;
  height: 2rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  width: 7rem;
  text-align: center;
}

.trip-btn {
  background: transparent url("../images/logo.png") no-repeat center center;
  background-size: contain;
  padding: 80px;
  border: none;
  color: transparent;
 }

.flight-image {
  background: url("../images/flight.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}

.accommodation-image {
  background: url("../images/hotel.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}

.activity-image {
  background: url("../images/activity.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}

.tripView-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.tripView-btn img{
  height: 35px;
}

.tripView-btn-text{
  color: white;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
}

.tab-title {
  color: #47a7cf;
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  text-shadow: 3px 2px 3px #312e2e;
  text-align: center;
  width: 100%;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.tab {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: flex;
  padding: 0;
  cursor: pointer;
  height: 27vh;
  justify-content: center;
  align-items: center;
}

.bkRGBA{
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.5);
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.my-trips-title {
  text-align: center;
}

.one-trip-container {
  display: flex;
  border-bottom: 1px solid darkgray;
  padding: 0.3rem 1.5rem;
}

.city-name-container {
  width: 80vw;
  /* margin-left: 2rem; */
}

.trip-date-container {
  width: 25vw;
}

.one-trip-container p {
  margin: 0;
}

.trip-price-container {
  width: 12vw;
  display: flex;
  align-items: center;
}

.trip-date-price {
  display: flex;
}

.trip-detail-title {
  text-align: center;
}

.trip-detail-title h2 {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.city-name h3 {
  padding: 1rem;
  margin: 0;
  font-size: 2rem;
  color: #47a7cf;
}

.oneway-container {
  border: 1px solid darkgray;
  padding: 0 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.duration-container {
  display: flex;
  color: gray;
  padding: 0.5rem 0;
}

.duration-container p {
  margin: 0;
}

.flight-card-info {
  display: flex;
}

.flight-card-info p {
  margin: 0;
}

.duration-info {
  margin-left: 1rem;
}

.flight-card {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.5rem 0;
}

.flight-hour {
  margin-right: 1rem;
}

.flight-date p {
  margin: 0;
}

.accommodation-info-container {
  border: 1px solid darkgray;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.accommodation-info-container p {
  margin: 0;
}

.info-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.info-title-container h3 {
  margin: 0;
}

.title-card {
  position: relative;
  height: 100%;
  margin: 0px 1rem;
}

.title-card p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
}

.details-btn {
  display: flex;
  justify-content: space-around;
}

.details-btn img {
  height: 45px;
  background-color: transparent;
}

.details-btn button {
  background: none;
  border: none;
}

.my-trip-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.my-trip-price-container {
  display: flex;
  align-items: center;
}

.refresh-btn {
  background: none;
  border: none;
}

/*
.rotate {
  background: transparent url("../images/logo.png") no-repeat center center;
  background-size: contain;
  padding: 75px;
  border: none;
  color: transparent;
  animation-name: rotate;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} */


.rotate {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */
   /* transform: rotate(.03turn);  */
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
    }
}

